html {
  background: rgb(255, 242, 191);
  background: linear-gradient(
    180deg,
    rgba(31, 57, 202, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-repeat: no-repeat;
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 26px;
  font-weight: 200;
  padding-top: 10px;
  color: #1f39ca;
}

h1 span {
  font-weight: 600;
}

.toggleBtn {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 8px 20px;
  font-weight: 200;
  border-radius: 10px;
  border: 1px solid transparent;
  color: #ffffff;
  cursor: pointer;
  margin: 20px;
  letter-spacing: 1px;
  outline: none;
  background: rgb(235, 143, 5);
  background: linear-gradient(
    0deg,
    rgba(235, 143, 5, 1) 0%,
    rgba(255, 154, 0, 1) 100%
  );
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #48bea2;
}

.btn {
  height: 50px;
  width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 200;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 10px;
  outline: none;
  background: rgb(15, 38, 163);
  background: linear-gradient(
    0deg,
    rgba(15, 38, 163, 1) 0%,
    rgba(31, 57, 202, 1) 100%
  );
}

.number {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 200;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1f39ca;
  color: #1f39ca;
}

.bonusNumber {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 200;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #48bea2;
  color: #48bea2;
}

/* .number:nth-of-type(3n+1) {
  background-color: #CCB9FF;
}

.number:nth-of-type(3n) {
  background-color: #48BEA2;
}


.number:nth-of-type(3n+2) {
  background-color: #FFFADE ;
} */

input[type="checkbox"] {
  -webkit-appearance: none;
  height: 38px;
  width: 70px;
  background-image: linear-gradient(-45deg, #d31027, #ea384d);
  border-radius: 30px;
  outline: none;
  position: relative;
  border: 5px solid rgba(255, 255, 255, 0.5);
  box-sizing: content-box;
}

input[type="checkbox"]:checked {
  background-image: linear-gradient(-45deg, #1f39ca, #1f38ca);
}

input[type="checkbox"]:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border: 4px solid white;
  border-radius: 50%;
  top: 7px;
  left: 5px;
  transition: 0.3s;
}

input[type="checkbox"]:checked:before {
  width: 0;
  left: 50px;
  border-radius: 5px;
}
