html {
  background: rgb(255, 242, 191);
  background: linear-gradient(
    180deg,
    rgba(31, 57, 202, 0.1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-repeat: no-repeat;
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  font-size: 26px;
  font-weight: 200;
  padding-top: 20px;
  color: #1f39ca;
}

.btn {
  height: 50px;
  width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 200;
  background-color: #1f39ca;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 10px;
  border: none;
}

.number {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 200;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1f39ca;
  color: #1f39ca;
}

/* .number:nth-of-type(3n+1) {
  background-color: #CCB9FF;
}

.number:nth-of-type(3n) {
  background-color: #48BEA2;
}


.number:nth-of-type(3n+2) {
  background-color: #FFFADE ;
} */
